.homePage{
  .join {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $red;
    padding: 1.5rem 0;
    &__container {
      width: 95%;
      max-width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      @media screen and (max-width: 700px) {
        align-items: flex-start;
        gap: 1rem;
        flex-direction: column;
      }
    }
    p {
      text-align: left;
      z-index: 2;
      color: #fff;
      @media screen and (max-width: 478px) {
        text-align: left;
      }
    }
    &-subscribe {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex-shrink: 0;
      z-index: 2;
      @media screen and (max-width: 478px) {
        flex-direction: column;
        width: 100%;
        button,
        input {
          width: 100%;
        }
      }
      button {
        padding: 0.5rem 1.125rem;
        border: 2px solid #fff;
        background: #fff;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: 0.3s ease;
        span {
          font-weight: 500;
          color: $red;
        }
      }
      input {
        overflow: hidden;
        outline: none;
        padding: 0.6rem 1rem;
        border: 1px solid #ffffff99;
        font-weight: 300;
        font-size: 14px;
        cursor: pointer;
        border-radius: 0.5rem;
        color: #ffffff99;
        flex-grow: 1;
        background: none;
        &:focus {
          border-color: #ffffff99;
        }
        &::placeholder {
          color: #ffffff99;
        }
      }
    }
  }
}
