.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    width: 95%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    @media screen and (max-width: 960px){
      padding: 8rem 5rem 8rem 0;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      padding: 3rem 0;
      gap: 2rem;
      .hero-text {
        h1 {
          font-size: 1.6rem;
          line-height: 31px;
        }
        p {
          font-size: 18px;
        }
        div {
          width: 100%;
          flex-direction: column;
          button {
            width: 100%;
          }
        }
      }
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 38px;
      display: flex;
      align-items: center;
      color: $black;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $gray;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      button {
        padding: 0.5rem 1.125rem;
        border: 2px solid $red;
        background: $red;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        border-radius: 0.5rem;
        transition: 0.3s ease;
        span{
          font-weight: 500;
          display: inline-block;
        }
        &:first-child {
          span{
            color: #ffffff;
          }
          &:hover {
            opacity: 0.8;
          }
        }
        &:last-child {
          background: #fff;
          border-color: $red;
          span{
            color: $red;
          }
          &:hover {
            background: rgba($color: $red, $alpha: 0.05);
          }
        }
      }
    }
  }
  &-image {
    width: 55%;
    flex-shrink: 0;
    @media screen and (max-width: 960px){
      display: none;
    }
    @media screen and (max-width: 600px){
      display: block;
      width: auto;
    }
  }
}
